##################################################################################
# GENERIC APPLICATION SETTINGS
##################################################################################

# You can either use this or WITHDRAW_XPUB. Choosing this one will make the tool withdraw to the same Bitcoin address
# every time.
WITHDRAW_ADDRESS=

# You can either use this or WITHDRAW_ADDRESS. Choosing this one will make the tool withdraw to a new receiving address
# every time a withdrawal is being made by the tool. It’ll start at the first address at index 0, so make sure to
# generate a new account or key when using this method.
# WITHDRAW_XPUB=

# Choose the cryptocurrency exchange this Bitcoin DCA tool will operate on. The default value is "bl3p".
# Available options: bl3p, bitvavo, kraken, binance
EXCHANGE=bl3p

# This setting is for the base currency you're buying with. Options are:
# BL3P:     EUR
# Bitvavo:  EUR
# Kraken:   USD EUR CAD JPY GBP CHF AUD
# Binance:  USDT BUSD EUR USDC USDT GBP AUD TRY BRL DAI TUSD RUB UAH PAX BIDR NGN IDRT VAI
BASE_CURRENCY=EUR

# If you want to receive an email when buys or withdrawals are made, activate this setting. The example here is for the Sendgrid API
# Available providers: https://bitcoin-dca.readthedocs.io/en/latest/getting-notified.html#sending-email-from-bitcoin-dca
# NOTIFICATION_EMAIL_ENABLED=1
# NOTIFICATION_EMAIL_DSN=sendgrid+api://APIKEYHERE@default
# NOTIFICATION_EMAIL_TO=you@gmail.com
# Optionally you can also configure these extra settings:
# NOTIFICATION_EMAIL_FROM=you@gmail.com
# NOTIFICATION_EMAIL_PREFIX="Bitcoin DCA"

# Bitcoin DCA can notify you on Telegram when purchases or withdrawals are made. You will need to
# contact Botfather to create a token: https://t.me/botfather
# To find out your Telegram ID you can talk to https://t.me/getmyid_bot
# NOTIFICATION_TELEGRAM_ENABLED=1
# NOTIFICATION_TELEGRAM_DSN=telegram://BOTFATHERSECRET@default?channel=YOURTELEGRAMID

# Bitcoin DCA will contact GitHub every time it is executed to let you know if there is a newer version available.
# Newer versions bring important security updates and new features. It transmits no information about your local environment.
# You can audit the code here: https://github.com/Jorijn/bitcoin-dca/blob/master/src/EventListener/CheckForUpdatesListener.php
# You can completely disable remote version checking by uncommenting this setting:
# DISABLE_VERSION_CHECK=1

##################################################################################
# BL3P exchange settings
##################################################################################

# This is the identifying part of the API key that you created on the BL3P exchange. You can find it there under the
# name Identifier Key.
BL3P_PUBLIC_KEY=

# This is the private part of your API connection to BL3P. It’s an encoded secret granting access to your BL3P account.
BL3P_PRIVATE_KEY=

# BL3P allows for three different settings, low (680sats, medium (5000sats) or high (10000sats).
BL3P_FEE_PRIORITY=low

##################################################################################
# Bitvavo exchange settings
# > no trading fees up to the first € 1000,- if you use my affiliate link: https://bitvavo.com/?a=DE4151B112
##################################################################################

# This is the identifying part of the API key that you created on the Bitvavo exchange.
# BITVAVO_API_KEY=

# This is the private part of your API connection to Bitvavo. It’s an encoded secret granting access to your Bitvavo account.
# BITVAVO_API_SECRET=


##################################################################################
# Kraken exchange settings
##################################################################################

# This is the identifying part of the API key that you created on the Kraken exchange.
# KRAKEN_API_KEY=

# This is the private part of your API connection to Kraken. It’s an encoded secret granting access to your Kraken account.
# KRAKEN_PRIVATE_KEY=

# Kraken secured the platform by limiting API usage to pre-whitelisted withdrawal addresses.
# This makes it a lot more secure but unfortunately limits the tool to one withdrawal address
# thus disabling XPUB generation. On Kraken, go to Funding and create a new Bitcoin withdrawal
# address and for description use something without special symbols or spaces. Configure the
# value here.
#
# [!] This option overrides any configured withdrawal address
# KRAKEN_WITHDRAW_DESCRIPTION=bitcoin-dca

# When you request to buy 100 EUR/USD from Kraken they assume you want to buy a minimum of 100
# by default. If the fee would be 0.30 that would be added to the 100, resulting in 100.30 being
# deducted from your EUR/USD balance. If you're transferring a fixed amount of money for a fixed
# amount of DCA cycles this would result in a lack of balance for the final complete DCA purchase
# of that cycle.
#
# include (default): deducts the fee estimation from your order, this will ensure you have enough
#                    balance left for the final DCA cycle.
# exclude:           Kraken default, the tool will order for 100 and Kraken will pay the fee with
#                    the remainder of your balance.
# KRAKEN_FEE_STRATEGY=include
#
# ONLY FOR GERMAN RESIDENTS:
# If your Kraken account is verified with a German address, you will need to accept a trading agreement
# in order to place market and margin orders.
#
# See https://support.kraken.com/hc/en-us/articles/360036157952
#
# KRAKEN_TRADING_AGREEMENT=agree

##################################################################################
# Binance exchange settings
##################################################################################

# This is the identifying part of the API key that you created on the Binance exchange.
# BINANCE_API_KEY=

# This is the private part of your API connection to Binance. It’s a secret granting access to your Binance account.
# BINANCE_API_SECRET=
